a {
  text-decoration: none;
  color: black;
}

#contact-box input {
  margin: 15px 0;
}

.display {
  display: initial;
}

.non-display {
  display: none;
}
#projects {
  position: absolute;
  z-index: 3;
  text-align: center;
  display: none;
  flex-wrap: wrap;
}
.button {
  margin-top: 20px;
}
